<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="ef_sms_gateway" frontName="ef_sms_gateway">
			<module name="Ef_SmsGateway" />
		</route>
	</router>
</config>